<div id="card"><%= render "posts/new" %></div></br>

<% @feed.each do |post| %>
	<% original_post = Post.find(post.original) if post.original %>
	<div id="card">
		<table align="center">
			<tr>
				<td>
					<%= link_to profile_picture(User.find(post.user_id), "50x50"), user_path(post.user_id) %>
				</td>
				<td>
					<%= link_to post.user.name.capitalize, user_path(post.user) %>
					<% unless original_post %>
						<% if post.image? %>
							posted a picture:
						<% end %>
					<% else %>
						shared
						<% unless User.find(original_post.user) == current_user %>
							<%= User.find(original_post.user).name.capitalize + "s" %>
						<% else %>
							your
						<% end %>
						post:
					<% end %>
				</td>
			</tr>
		</table>
		
		<div align="center">
			<% unless original_post %>
				<%= link_to(image_tag(post.image_url, width: "90%"),
					show_post_path(post.user, post)) if post.image? %>
				<p><%= post.text %></p>
			<% else %>
				<%= link_to(image_tag(original_post.image_url, width: "90%"),
					show_post_path(original_post.user, original_post)) if original_post.image? %>
				<p><%= original_post.text %></p>
			<% end%>		
		</div>
		
		<table align="center">
			<tr>
				<td>
					<%= button_to post.likes.to_i, like_path(post.user, post), :method => "get",
						"data-icon" => "star", "data-mini" => true %>
				</td>
				<td>
					<% unless original_post %>
						<%= button_to("Share", share_path(post.id),
							"data-mini" => true) if post.user != current_user %>
					<% else %>
						<%= button_to("Share", share_path(original_post.id),
							"data-mini" => true) if original_post.user != current_user %>
					<% end %>
				</td>
				<td>
					<%= button_to "Comment", show_post_path(post.user, post),
						:method => "get", "data-mini" => true %>
				</td>
			</tr>
		</table>
	</div>
	</br>
<% end %>