<div id="card"><%= render "posts/new" if current_user %></div></br>

<% @feed.each do |post| %>
	<div id="card">
		<table>
			<tr>
				<td>
					<%= link_to gravatar_for(User.find(post.user_id), "50x50"), user_path(post.user_id) %>
				</td>
				<td>
					<%= link_to post.user.name.capitalize, user_path(post.user) %>
					<% if post.image? %>
						posted a picture:
					<% end %>
				</td>
			</tr>
		</table>
		<div align="center">
			<p align="left"><%= post.text %></p>
			<%= link_to(image_tag(post.image_url, width: "90%"), show_post_path(post.user, post)) if post.image? %>
		</div>
	</div>
	</br>
<% end %>