<!-- messages -->

<%= form_for @message do |f| %>
	<p>
		<%= f.label "Reply:" %>
		<%= f.text_area :text %>
		<!-- message#create needs access to chat_id -->
		<%= hidden_field_tag :chat_id, params[:id] %>
		<%= f.submit "Send" %>
	</p>
<% end %>
