<div id="card">
	<table align="center">
		<tr>
			<td><%= profile_picture(comment.commenter, "25x25") %></td>
			<td>
				<%= link_to comment.commenter.name, user_path(comment.commenter) %>
				<%= comment.text %>
				<% comment.hashtags.each do |tag| %>
					<%= link_to tag.tag, tagged_path(tag.tag) %>
				<% end %>
			</td>
		</tr>
	</table>
	<!-- controls for comment -->
	<div align="center">
		<div class="btn-group">
			<%= render "comments/vote", comment: comment %>
		</div>
	</div>
</div><br>