<!-- comments -->
<% if current_user %>
	<%= form_for @comment do |f| %>
		<% if item == :post %>
			<%= hidden_field_tag :post_id, params[:id] %>
		<% elsif item == :proposal %>
			<%= hidden_field_tag :proposal_id, params[:id] %>
		<% end %>
		<p>
			<%= f.text_area :text, placeholder: "Leave a comment" %>
			<%= f.submit "Comment" %>
		</p>
	<% end %>
<% end %>
