<!-- comments -->

<% if current_user %>
	<div id="card">
		<div id="form_padding">
		<%= form_for @comment do |f| %>
			<% case item %>
				<% when :post %>
					<%= hidden_field_tag :post_id, params[:id] %>
				<% when :comment %>
					<%= hidden_field_tag :comment_id, params[:id] %>
				<% when :proposal %>
					<%= hidden_field_tag :proposal_id, params[:id] %>
				<% when :module %>
					<%= hidden_field_tag :module_id, params[:id] %>
				<% when :share %>
					<%= hidden_field_tag :share_id, params[:id] %>
			<% end %>
		
			<p>
				<%= f.text_area :text, placeholder: "Leave a comment", class: "form-control" %>
			</p>
			<p>
				<%= f.submit "Comment", class: "btn btn-default btn-lg btn-block" %>
			</p>
		<% end %>
		</div>
	</div>
<% end %>