<!-- shares -->

<table align="center">
	<tr>
		<% if @group.icon.url %>
		<td>
			<%= link_to image_tag(@group.icon, size: "50x50", id: :profile_picture), group_path(@group) %>
		</td>
		<% end %>
		<td>
			<% if @group.name.size < 15 %>
				<h1 align="center"><%= @group.name %> Shares</h1>
			<% else %>
				<h3 align="center"><%= @group.name %> Shares</h3>
			<% end %>
		</td>
	</tr>
</table></br>

<%= render "shares/new" %>

<% for share in @shares %>
	<div id="card">
		<div align="center">
			<div><%= share.name %></div>
			<div><%= share.description %></div>
		</div>
	</div></br>
<% end %>