<!-- number of results and amount of each type should be shown -->

<% if @no_results %>
	<div id=<%= color_theme("card")%>>
		<p align="center"><%= @no_results %></p>
	</div></br>
<% end %>

<% if @users %>
	<% @users.reverse.each do |user| %>
		<div id=<%= color_theme("card")%>>
			<table align="center">
				<tr>
					<td>
						<%= profile_picture(user, "25x25") %>
					</td>
					<td>
						<%= link_to user.name, user_path(user) %>
					</td>
				</tr>
			</table>
		</div>
		</br>
	<% end %>
<% end %>

<% if @groups %>
	<% @groups.reverse.each do |group| %>
		<div id=<%= color_theme("card")%>>
			<div align="center">
				<% if group.icon.url %>
				<div>
					<%= link_to image_tag(group.icon, size: "50x50", id: :profile_picture),
						group_path(group) %>
				</div>
				<% end %>
				<div>
					<%= link_to group.name, group_path(group) %>
				</div>
			</div>
		</div>
		</br>
	<% end %>
<% end %>

<% if @modules %>
	<% @modules.reverse.each do |_module| %>
		<div id=<%= color_theme("card")%>>
			<table align="center">
				<tr>
					<% if _module.icon.url %>
					<td>
						<%= link_to image_tag(_module.icon, size: "25x25", id: :profile_picture),
							group_code_module_path(_module.group_id, _module) %>
					</td>
					<% end %>
					<td>
						<%= link_to _module.name, group_code_module_path(_module.group_id, _module) %>
					</td>
				</tr>
			</table>
		</div>
		</br>
	<% end %>
<% end %>

<% if @tags.present? %>
	<% if current_user %>
		<% unless current_user.hashtags.find_by_tag @tags.first.tag %>
			<div id="large_button">
				<%= button_to "Follow " + @tags.first.tag, follow_tag_path(@tags.first.id),
					class: "btn btn-default btn-lg btn-block" %>
			</div></br>
		<% end %>
	<% end %>
	
	<% @tags.reverse.each do |tag| %>
		<% if tag.post_id %>
			<%= render "posts/card", post: tag.item %>
		<% elsif tag.comment_id %>
			<%= render "comments/card", comment: tag.item %>
		<% end %>
	<% end %>
<% end %>