<!-- number of results and amount of each type should be shown -->

<% if @no_results %>
	<div id=<%= color_theme("card")%>>
		<div align="center"><%= @no_results %></div>
	</div>
<% end %>

<% if @tags.present? %>
	<% if current_user %>
		<% unless current_user.hashtags.find_by_tag @tags.first.tag %>
			<div id="large_button">
				<%= button_to "Follow " + @tags.first.tag, follow_tag_path(@tags.first.id),
					class: "btn btn-default btn-lg btn-block" %>
			</div></br>
		<% end %>
	<% end %>
<% end %>

<% for result in @results %>
	<% case result.class.to_s %>
		<% when "User" %>
			<div id=<%= color_theme("card")%>>
				<table align="center">
					<tr>
						<td>
							<%= profile_picture(result, "25x25") %>
						</td>
						<td>
							<%= link_to result.name, user_path(result) %>
						</td>
					</tr>
				</table>
			</div>
		<% when "Group" %>
			<div id=<%= color_theme("card")%>>
				<div align="center">
					<% if result.icon.url %>
					<div>
						<%= link_to image_tag(result.icon, size: "50x50", id: :profile_picture),
							group_path(result) %>
					</div>
					<% end %>
					<div>
						<%= link_to result.name, group_path(result) %>
					</div>
				</div>
			</div>
		<% when "CodeModule" %>
			<div id=<%= color_theme("card")%>>
				<table align="center">
					<tr>
						<% if result.icon.url %>
						<td>
							<%= link_to image_tag(result.icon, size: "25x25", id: :profile_picture),
								group_code_module_path(result.group_id, result) %>
						</td>
						<% end %>
						<td>
							<%= link_to result.name, group_code_module_path(result.group_id, result) %>
						</td>
					</tr>
				</table>
			</div>
		<% when "Hashtag" %>
			<% if result.post_id %>
				<%= render "posts/card", post: result.item %>
			<% elsif result.comment_id %>
				<%= render "comments/card", comment: result.item %>
			<% end %>
	<% end %>
<% end %>

<%= render "pages/more_back", all_items: @all_results, items: @results %>