<!-- users -->

<h1>
  <%= @user.name %>
</h1>
 
<p>
  <strong>About me:</strong>
  <%= @user.bio %>
</p>

<%= render "posts/new" if current_user and current_user.id == @user.id %>

<table>
  <% @user.posts.each do |post| %>
    <tr>
      <td><%= post.text %></td>
	  <td><%= post.likes %></td>
	  <td><%= link_to "Like", user_post_path(params[:id], post) %></td>
	  <td><%= link_to 'Show', user_post_path(params[:id], post) %></td>
	  <% if current_user and current_user.id == @user.id %>
        <td><%= link_to 'Destroy', user_post_path(params[:id], post),
          method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  <% end %>
    </tr>
  <% end %>
</table>