<!-- users -->

<div id="card">
<table>
	<tr>
		<td>
			<%= gravatar_for @user %>
		</td>
		<td>
			<h1>
				<%= @user.name.capitalize %>
			</h1>
		</td>
		<td>
			<%= render "follow_form" if current_user %>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<strong>About me:</strong>
			<%= @user.bio %>
		</td>
		<td>
			<%= render "messages/message_button" %>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<%= link_to "Followers: #{@user.followers.count}", followers_user_path(@user) %>
		</td>
		<td>
			<%= link_to "Following: #{@user.followed_users.count}", following_user_path(@user) %>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<%= render "posts/new" if current_user and current_user.id == @user.id %>
		</td>
	</tr>
</table>
</div>
</br>

<% @user.posts.reverse.each do |post| %>
	<div id="card">
		<table>
			<tr>
				<td>
					<%= link_to gravatar_for(post.user, "25x25"), user_path(post.user) %>
				</td>
				<td>
					<%= link_to post.user.name.capitalize + ":", user_path(post.user) %>
				</td>
			</tr>
		</table>
		
		<div>
			<p><%= post.text %></p>
			<%= link_to(image_tag(post.image_url, width: "90%"), show_post_path(post.user, post)) if post.image? %>
		</div>
		
		<table>
			<tr>
				<td>
					<%= button_to post.likes.to_i, like_path(params[:id], post), :method => "get",
						"data-icon" => "star" %>
				</td>
				<td>
					<%= button_to "Show", show_post_path(post.user, post), :method => "get" %>
				</td>
			</tr>
		</table>
	</div>
	</br>
<% end %>