<!-- users -->

<div id="card">
<table align="center">
	<tr>
		<td>
			<%= profile_picture @user %>
		</td>
		<td>
			<h1>
				<%= @user.name.capitalize %>
			</h1>
		</td>
		<td>
			<%= render "follow_form" if current_user %>
		</td>
	</tr>
</table>

<table align="center">
	<tr>
		<td>
			<%= render "messages/message_button" %>
		</td>
	</tr>
	<tr>
		<td>
			<strong>About me:</strong>
			<%= @user.bio %>
		</td>
		<td>
			<%= render "edit_button" %>
		</td>
	</tr>
</table>

<table align="center">
	<tr>
		<td>
			<%= link_to "Followers: #{@user.followers.count}", followers_user_path(@user) %>
		</td>
		<td>
			<%= link_to "Following: #{@user.followed_users.count}", following_user_path(@user) %>
		</td>
	</tr>
</table>

<table align="center">
	<tr>
		<td>
			<%= render "posts/new" if current_user and current_user.id == @user.id %>
		</td>
	</tr>
</table>
</div>
</br>

<% @user.posts.reverse.each do |post| %>
	<% original_post = Post.find(post.original) if post.original %>
	<div id="card">
		<table align="center">
			<tr>
				<td>
					<%= link_to profile_picture(post.user, "25x25"), user_path(post.user) %>
				</td>
				<td>
					<%= link_to post.user.name.capitalize, user_path(post.user) %>
					<% unless original_post %>
						<% if post.image? %>
							posted a picture:
						<% end %>
					<% else %>
						shared
						<% unless User.find(original_post.user) == current_user %>
							<%= User.find(original_post.user).name.capitalize + "s" %>
						<% else %>
							your
						<% end %>
						post:
					<% end %>
				</td>
			</tr>
		</table>
		
		<div align="center">
			<% unless original_post %>
				<%= link_to(image_tag(post.image_url, width: "90%"),
					show_post_path(post.user, post)) if post.image? %>
				<p><%= post.text %></p>
			<% else %>
				<%= link_to(image_tag(original_post.image_url, width: "90%"),
					show_post_path(original_post.user, original_post)) if original_post.image? %>
				<p><%= original_post.text %></p>
			<% end %>
		</div>
		
		<table align="center">
			<tr>
				<td>
					<%= button_to post.likes.to_i, like_path(params[:id], post), :method => "get",
						"data-icon" => "star" %>
				</td>
				<td>
					<%= button_to "Comment", show_post_path(post.user, post), :method => "get" %>
				</td>
			</tr>
		</table>
	</div>
	</br>
<% end %>