<!-- users -->

<div id="card">
<table align="center">
	<tr>
		<td>
			<%= profile_picture @user %>
		</td>
		<td>
			<h1>
				<%= @user.name.capitalize %>
			</h1>
		</td>
		<td>
			<%= render "follow_form" if current_user %>
		</td>
	</tr>
</table>

<table align="center">
	<tr>
		<td>
			<%= render "messages/message_button" %>
		</td>
	</tr>
	<tr>
		<td>
			<strong>About me:</strong>
			<%= @user.bio %>
		</td>
		<td>
			<%= render "edit_button" %>
		</td>
	</tr>
</table>

<table align="center">
	<tr>
		<td>
			<%= link_to "Followers: #{@user.followers.count}", followers_user_path(@user) %>
		</td>
		<td>
			<%= link_to "Following: #{@user.followed_users.count}", following_user_path(@user) %>
		</td>
	</tr>
</table>

<table align="center">
	<tr>
		<td>
			<%= render "posts/new" if current_user and current_user.id == @user.id %>
		</td>
	</tr>
</table>
</div>
</br>

<% @user.posts.reverse.each do |post| %>
	<div id="card">
		<table align="center">
			<tr>
				<td>
					<%= link_to profile_picture(post.user, "25x25"), user_path(post.user) %>
				</td>
				<td>
					<%= link_to post.user.name.capitalize, user_path(post.user) %>
					<%= render "posts/user_action", post: post %>
				</td>
			</tr>
		</table>
		
		<%= render "posts/content", post: post %>
		
		<table align="center">
			<tr>
				<%= render "posts/vote", post: post %>
				<td>
					<%= render "posts/share", post: post %>
				</td>
				<td>
					<%= button_to "Comment", show_post_path(post.user, post), :method => "get" %>
				</td>
			</tr>
		</table>
	</div>
	</br>
<% end %>