<%= link_to "Home", root_path %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<%= link_to "New post", new_user_post_path(@user) %>

<% @user.posts.each do |post| %>
  <tr>
    <td><%= post.text %></td>
  </tr>
<% end %>