<!-- users -->

<table>
	<tr>
		<td>
			<%= gravatar_for @user %>
		</td>
		<td>
			<h1>
				<%= @user.name.capitalize %>
			</h1>
		</td>
		<td>
			<%= render "follow_form" if current_user %>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<strong>About me:</strong>
			<%= @user.bio %>
		</td>
		<td>
			<%= render "message_button" %>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<%= link_to "Followers: #{@user.followers.count}", followers_user_path(@user) %>
		</td>
		<td>
			<%= link_to "Following: #{@user.followed_users.count}", following_user_path(@user) %>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<%= render "posts/new" if current_user and current_user.id == @user.id %>
		</td>
	</tr>
</table>

<table>
	<% @user.posts.each do |post| %>
	<tr>
		<td><%= link_to gravatar_for(post.user, "25x25"), user_path(post.user) %></td>
		<td><%= post.text %></td>
		<td><%= post.likes %></td>
		<td><%= button_to "Like", like_path(params[:id], post), :method => "get",
				"data-icon" => "star", "data-iconpos" => "notext" %></td>
		<td><%= button_to 'Show', show_post_path(params[:id], post), :method => "get",
				"data-icon" => "delete", "data-iconpos" => "notext" %></td>
		</tr>
	<% end %>
</table>