<!-- folders -->
<% if @messages.size > 0 %>
	<% @messages.each do |message| %>
		<% key = ActiveSupport::KeyGenerator.new(User.find(message.user_id).name).generate_key(message.salt) %>
		<% encryptor = ActiveSupport::MessageEncryptor.new(key) %>
		<% time = message.created_at.strftime("%I:%M %p") %>
		
		<div id="card">
			<table align="center">
				<tr>
					<td>
						<%= link_to User.find(message.user_id).name.capitalize, user_path(message.user_id)%>
						<%= encryptor.decrypt_and_verify(message.text) %>
					</td>
				</tr>
			</table>
			<p id="message_time" align="center">
				<!-- gets rid of 0 from front if present -->
				<% if time[0].to_i == 0 %>
					<%= time[1..-1] %>
				<% else %>
					<%= time %>
				<% end %>
			</p>
		</div>
		<br>
	<% end %>
<% end %>

<%= render "messages/new" %>