<!-- notifications -->

<% if current_user %>
	<% @notes.each do |note| %>
		<div id="card">
			<%= render "notifications/time_ago", note: note %>
			<table align="center" id="note_message">
				<tr>
					<td><%= profile_picture(User.find(note.other_user), "25x25") %></td>
					<td>
						<% case note.action.to_sym %>
							<% when :follow %>
								<%= link_to note.message, user_path(note.other_user) %>
							<% when :message %>
								<%= link_to note.message, folder_path(note.item) %>
							<% when :comment, :up_vote %>
								<%= link_to note.message, show_post_path(note.user, note.item) %>
							<% when :reply %>
								<%= link_to note.message, show_comment_path(note.item) %>
							<% when :share_post %>
								<!-- has to link to sharers post, not the original users -->
								<%= link_to note.message, show_post_path(note.other_user, note.item)%>
							<% when :mention %>
								<%= link_to note.message, show_post_path(note.other_user, note.item) %>
								
							<% when :comment_proposal, :up_vote_proposal %>
								<% if Proposal.find(note.item).group_id %>
									<%= link_to note.message, group_proposal_path(Group.find( \
									Proposal.find(note.item).group_id), note.item) %>
								<% elsif Proposal.find(note.item).federation_id %>
									<%= link_to note.message, federation_proposal_path(Federation.find( \
									Proposal.find(note.item).federation_id), note.item) %>
								<% end %>
								
							<% when :comment_share, :up_vote_share %>
								<% if Share.find(note.item).group_id %>
									<%= link_to note.message, group_share_path(Group.find( \
									Share.find(note.item).group_id), note.item) %>
								<% elsif Share.find(note.item).federation_id %>
									<%= link_to note.message, federation_share_path(Federation.find( \
									Share.find(note.item).federation_id), note.item) %>
								<% end %>
						<% end %>
					</td>
				</tr>
			</table>
		</div><br>
	<% end %>

	<%= render("pages/more") if @notes.size >= page_size %>
	
	<% if current_user.notifications.empty? %>
		<div id="card">
			<div align="center">You have zero notifications.</div>
		</div>
	<% end %>
<% end %>