<div id="card">
	<%= render "join" %>
	<h1 align="center"><%= @group.name.capitalize %></h1>
	<div align="center"><%= image_tag @group.icon, width: "90%", id: :profile_picture %></div></br>
	
	<div align="center">
		<%= link_to "Members", group_members_path(@group) %>
		|
		<%= link_to "Proposals", group_proposals_path(@group) %>
		|
		<%= link_to "Modules", group_code_modules_path(@group) %>
	</div>
	
	<p align="center"><%= @group.description %></p>
</div>
<br>