<table align="center">
	<tr>
		<% if @user.profile_picture.url %>
		<td>
			<%= profile_picture(@user, "50x50") %>
		</td>
		<% end %>
		<td>
			<% if @user.name.size < 8 %>
				<h1 align="center"><%= @user.name + "'s" %> Groups</h1>
			<% else %>
				<h3 align="center"><%= @user.name + "'s" %> Groups</h3>
			<% end %>
		</td>
	</tr>
</table></br>

<% @groups.reverse.each do |group| %>
<div id="card">
	<div align="center">
			<% if group.icon.url %>
				<div><%= link_to image_tag(group.icon, size: "50x50",
					id: :profile_picture), group_path(group) %></div>
			<% end %>
			<div><%= link_to group.name, group_path(group) %></div>
	</div>
</div>
<br>
<% end %>

<% if @groups.empty? %>
	<div id="card">
		<div align="center">
			<%= link_to @user.name.capitalize, user_path(@user) %> hasn't joined any groups.
		</div>
	</div>
<% end %>