<!-- groups -->

<div id="card">
<%= form_for @group, html: {multipart: true, "data-ajax" => false} do |f| %>
	<p>
		<%= f.text_field :name, placeholder: "Name", class: "form-control" %>
	</p>
	<p>
		<%= f.text_area :description, placeholder: "Description", class: "form-control" %>
	</p>
	<p>
		<%= f.file_field :icon, class: "form-control" %>
	</p>
	<p class="form-control">
		<%= f.label :private %>
		<%= f.check_box :private %>
	</p>
	<p>
		<%= f.submit "Create Group", class: "btn btn-default btn-lg btn-block" %>
	</p>
<% end %>
</div>