<div id="card">
	<div class="row">
		<h1 class="left"><%= @group.name %></h1>
		<div class="right"><%= render "join" %></div>
	</div>
	<div class="column">
		<div align="center"><%= image_tag @group.icon, width: "90%" %></div>
		<p align="center"><%= @group.description %></p>
		<div align="center">
			<%= link_to "Members", group_members_path(@group) %>
			|
			<%= link_to "Proposals", group_proposals_path(@group) %>
		</div>
	</div>
</div>
<br>

<%= render "posts/new", group: @group.id if @group.membership(current_user) %>

<% if @group.membership(current_user) or !@group.private %>
	<%= render "feed" %>
<% end %>