<div id=<%= color_theme("card")%>>
	<div align="center">
		<div id="top_right">
			<div class="btn-group">
				<% if current_user and @user == current_user %>
					<%= render "settings_button"%>
					<%= render "edit_button" %>
				<% elsif current_user %>
					<%= render "follow_form" %>
				<% end %>
			</div>
		</div>

		</br>
		<table>
			<tr>
				<% if @user.profile_picture.url %>
				<td>
					<%= profile_picture @user, "100x100", :edit %>
				</td>
				<% end %>
		
				<% if @user.name.size < 8 %>
				<td>
					<h2><%= @user.name %></h2>
				</td>
				<% end %>
			</tr>
		</table>

		<% if @user.name.size >= 8 %>
			<% if @user.name.size < 12 %>
				<h2 align="center" id="user_profile_name"><%= @user.name %></h2>
			<% else %>
				<h3 align="center"><%= @user.name %></h3>
			<% end %>
		<% end %>
		

		<% if @user.bio.present? %>
		<table>
			<tr>
				<td>
					<p align="center">
						<%= @user.bio %>
					</p>
				</td>
			</tr>
		</table>
		<% end %>

		<div>
			<div class="btn-group">
				<%= link_to groups_joined_path(@user), class: "btn btn-default" do %>
					<span class="glyphicon glyphicon-globe"></span> Groups
				<% end %>
				<%= link_to following_user_path(@user), class: "btn btn-default" do %>
					<span class="glyphicon glyphicon-user"></span> Net
				<% end %>
				<%= render "messages/message_button" %>
			</div>
		</div>
	</div>
</div>
</br>
