<table align="center">
	<tr>
		<% if @user.profile_picture.url %>
		<td>
			<%= profile_picture(@user, "50x50") %>
		</td>
		<% end %>
		<td>
			<h1 align="center"><%= @user.name.capitalize + "'s" %> Contacts</h1>
		</td>
	</tr>
</table>

<% @users.each do |user| %>
<div id="card">
	<table align="center">
		<tr>
			<td><%= profile_picture(user, "25x25") %></td>
			<td><%= link_to user.name.capitalize, user_path(user) %></td>
		</tr>
	</table>
</div>
<br>
<% end %>

<% if @users.empty? %>
	<div id="card">
		<div align="center"><%= link_to @user.name.capitalize, user_path(@user) %> isn't following anyone yet.</div>
	</div>
<% end %>