<table align="center">
	<tr>
		<% if @user.profile_picture.url %>
		<td>
			<%= profile_picture(@user, "50x50") %>
		</td>
		<% end %>
		<td>
			<% if @user.name.size < 8 %>
				<h2 align="center"><%= @user.name + "'s" %> Contacts</h2>
			<% else %>
				<h3 align="center"><%= @user.name + "'s" %> Contacts</h3>
			<% end %>
		</td>
	</tr>
</table></br>

<% @users.each do |user| %>
<div id="card">
	<div align="center">
		<div><%= profile_picture(user, "50x50") %></div>
		<div><%= link_to user.name, user_path(user) %></div>
	</div>
</div>
<br>
<% end %>

<% if @users.empty? %>
	<div id="card">
		<div align="center"><%= link_to @user.name, user_path(@user) %> isn't following anyone yet.</div>
	</div>
<% end %>