<!-- users -->

<div id="card">
	<div align="center">
		<p>Total users: <%= User.all.size %></p>
		<p>Unique visits: <%= Activity.unique_visit_count %></p>
		<div>Actions: <%= Activity.all.size %></div>
	</div>
</div></br>

<% @users.each do |user| %>
	<div id="card">
		<div align="center">
			<div><%= profile_picture user, "50x50" %></div>
			<%= link_to user.name, user_path(user) %>
		</div>
	</div>
	</br>
<% end %>

<%= render("pages/more") %>