<div id="card">
<%= form_for @user do |f| %>
	<p>
		<%= f.text_field :name, placeholder: "Username" %>
	</p>
	<p>
		<%= f.text_field :email, placeholder: "Email" %>
	</p>
	<p>
		<%= f.password_field :password, placeholder: "Password" %>
	</p>
	<p>
		<%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
	</p>
	<p>
		<%= f.submit "Sign up" %>
	</p>
<% end %>
</div>