<%= form_tag search_path, :method => "get" do %>
	<p>
		<%= text_field_tag :query, params[:query] %>
		<%= submit_tag "Search" %>
	</p>
<% end %>

<% if @users %>
	<% @users.each do |user| %>
		<div id="card">
			<table>
				<tr>
					<td>
						<%= link_to profile_picture(user, "25x25"), user_path(user) %>
					</td>
					<td>
						<%= link_to user.name.capitalize, user_path(user) %>
					</td>
				</tr>
			</table>
		</div>
	<% end %>
<% end %>