<!-- controls for color scheme like switching from light to dark or
voting on the default color scheme by clicking up or down on
one of the RGB values, allowing for one vote a day -->

<div id=<%= color_theme "card" %>>
	<div id="form_padding">
	<%= form_for @user, url: user_path(@user), method: :patch,
		:html => {:multipart => true, "data-ajax" => false} do |f| %>
		<p>
			<%= f.select :color_theme, options_for_select([["Choose a color theme", nil],
				["Light", "light"], ["Dark", "dark"]]), {}, class: "form-control" %>
		</p>
		<p class="form-control">
			<%= f.label :private %>
			<%= f.check_box :private %>
		</p>
		<p>
			<%= f.submit "Update Settings", class: "btn btn-default btn-lg btn-block" %>
		</p>
	<% end %>
	</div>
</div>

<div id="card">
	<div id="form_padding">
		<p align="center">
			This site will automatically log you out when you close the browser.
			To log out now, press the button below.
		</p>
		<%= link_to "Log out", sessions_destroy_path,
			data: { confirm: 'Are you sure you want to log out?' },
			class: "btn btn-default btn-lg btn-block" %>
	</div>
</div>


<div id=<%= color_theme "delete_account_card" %>>
	<div id="form_padding">
		<div align="center">
			<p>
				Deleting your account will permanently destroy all of your data.
			</p>
			<%= link_to "Delete my account", user_destroy_path(current_user), method: :delete,
				data: { confirm: 'Are you sure you want to permanently delete your account?' },
				class: "btn btn-default btn-lg btn-block" %>
		</div>
	</div>
</div>
</br>