<!-- users -->

<div id="card">
<div id="top_right">
	<% if current_user and @user == current_user %>
		<%= render "edit_button" %>
	<% elsif current_user %>
		<%= render "follow_form" %>
	<% end %>
</div>

<table align="center">
	<tr>
		<% if @user.profile_picture.url %>
		<td>
			<%= profile_picture @user %>
		</td>
		<% end %>
		
		<% if @user.name.size < 10 %>
		<td>
			<h1><%= @user.name %></h1>
		</td>
		<% end %>
	</tr>
</table>

<% if @user.name.size >= 10 %>
	<h1 align="center"><%= @user.name %></h1>
<% end %>
		

<% if @user.bio.present? %>
<table align="center">
	<tr>
		<td>
			<p align="center">
				<strong>About me:</strong>
				<%= @user.bio %>
			</p>
		</td>
	</tr>
</table>
<% end %>

<table align="center">
	<tr>
		<td>
			<%= link_to(following_user_path(@user), class: :button_link) do %>
				<div class="button_div">Contacts</div>
			<% end %>
		</td>
		<td>
			<%= link_to(groups_joined_path(@user), class: :button_link) do %>
				<div class="button_div">Groups</div>
			<% end %>
		</td>
		<td>
			<%= render "messages/message_button" %>
		</td>
	</tr>
</table>
</div>
</br>

<%= render "posts/new" if current_user and current_user.id == @user.id %>

<%= render "wall" %>

<!-- <%= render("pages/older_newer", page: :user_page)  if @posts.size > 0 %> -->