<!-- users -->

<div id="card">
<table align="center">
	<tr>
		<td>
			<%= profile_picture @user %>
		</td>
		<td>
			<h1>
				<%= @user.name.capitalize %>
			</h1>
		</td>
	</tr>
</table>

<table align="center">
	<tr>
		<% if @user.bio %>
		<td>
			<p align="center">
				<strong>About me:</strong>
				<%= @user.bio %>
			</p>
		</td>
		<% end %>
	</tr>
</table>

<table align="center">
	<tr>
		<td>
			<%= link_to(following_user_path(@user), class: :button_link) do %>
				<div class="button_div">Contacts</div>
			<% end %>
		</td>
		<td>
			<%= link_to(groups_joined_path(@user), class: :button_link) do %>
				<div class="button_div">Groups</div>
			<% end %>
		</td>
		<td>
			<%= render "messages/message_button" %>
		</td>
	</tr>
</table>

<div id="top_right">
	<% if current_user and @user == current_user %>
		<%= render "edit_button" %>
	<% elsif current_user %>
		<%= render "follow_form" %>
	<% end %>
</div>

</div>
</br>

<%= render "posts/new" if current_user.id == @user.id %>

<%= render "wall" %>

<%= render("pages/older_newer", page: :user_page)  if @posts.size > 0 %>