<!-- main feed -->

<%= render "posts/new" %>

<% @feed.each do |post| %>
	<div id="card">
		<table align="center">
			<tr>
				<td>
					<%= link_to profile_picture(User.find(post.user_id), "25x25"), user_path(post.user_id) %>
				</td>
				<td>
					<%= link_to post.user.name.capitalize, user_path(post.user) %>
					<%= render "posts/user_action", post: post %>
				</td>
			</tr>
		</table>
		
		<%= render "posts/content", post: post %>
		
		<table align="center">
			<tr>
				<%= render "posts/vote", post: post %>
				<td>
					<%= render "posts/share", post: post %>
				</td>
				<td>
					<%= link_to(show_post_path(post.user, post), class: :button_link) do %>
						<div class="button_div">Comment</div>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
	</br>
<% end %>

<%= render("pages/older_newer", page: :feed_page) if @feed.size > 0 %>