<table align="center">
	<tr>
		<td>
			<%= link_to(root_path, class: :button_link) do %>
				<div class="button_div">Home</div>
			<% end %>
		</td>
		<% if current_user %>
		<td>
			<%= link_to(user_path(current_user), class: :button_link) do %>
				<div class="button_div"><%= current_user.name.capitalize %></div>
			<% end %>
		</td>
		<td>
			<%= link_to(groups_path, class: :button_link) do %>
				<div class="button_div">Groups</div>
			<% end %>
		</td>
		<td>
			<%= link_to(search_path, class: :button_link) do %>
				<div class="button_div">Search</div>
			<% end %>
		</td>
		<td>
			<%= link_to(user_notifications_path(current_user), class: :button_link) do %>
				<% if current_user.notifications.unchecked.size > 0 %>
					<div class="button_div" id="notified">
						<%= "+ " + current_user.notifications.unchecked.size.to_s %>
				<% else %>
					<div class="button_div">
						<%= current_user.notifications.unchecked.size.to_s %>
				<% end %>
					</div>
			<% end %>
		</td>
		<% else %>
		<td>
			<%= link_to "Sign up", new_user_path %> or
			<%= link_to "Log in", root_path %>
		</td>
		<% end %>
	</tr>
</table>