<!-- chats -->

<%= form_for @chat do |f| %>
	<p>
		<%= f.label "To:" %>
		<%= f.text_field :members %>
	</p>
	<p>
		<%= f.label "Topic:" %>
		<%= f.text_field :topic %>
	</p>
	<p>
		<%= fields_for @message do |t| %>
			<%= t.label "Message:" %>
			<%= t.text_area :text %>
		<% end %>
	</p>
	<p>
		<%= hidden_field_tag :user_id, params[:user_id] %>
		<%= f.submit "Send" %>
	</p>
<% end %>