<!DOCTYPE html>
<html>
<head>
	<title>Social</title>
	<%= favicon_link_tag "favicon.ico" %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>
	<div data-role="page" data-url="<%= request.path %>">
		
		<div data-role="header">
			<table>
				<tr>
					<td>
						<%= button_to "Home", root_path, :method => "get" %>
					</td>
					<% if current_user %>
					<td>
						Logged in as <%= link_to current_user.name,
							user_path(current_user) %>.
					</td>
					<td>
						<%= button_to current_user.notifications.unchecked.size,
							user_notifications_path(current_user), :method => "get" %>
					</td>
					<td>
						<%= button_to "Log out", sessions_destroy_path, :method => "get" %>
					</td>
					<% else %>
					<td>
						<%= link_to "Sign up", new_user_path %> or
						<%= link_to "Log in", new_session_path %>
					</td>
					<% end %>
				</tr>
			</table>
		</div>

		<div data-role="content">
			<%= yield %>
		</div>
		
	</div>
</body>
</html>
