<!DOCTYPE html>
<html>
<head>
	<title>Social</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<table>
		<tr>
			<td>
				<%= link_to "Home", root_path %>
			</td>
			<% if current_user %>
			<td>
				Logged in as <%= link_to current_user.name.to_s,
				user_path(current_user.id) %>.
			</td>
			<td>
				<%= link_to "Log out", sessions_destroy_path %>
			</td>
			<% else %>
			<td>
				<%= link_to "Sign up", new_user_path %> or
				<%= link_to "Log in", new_session_path %>
			</td>
			<% end %>
		</tr>
	</table>
	<%= yield %>

</body>
</html>
