<!-- proposals -->

<div id="card">
	<%= render "proposals/time_ago", proposal: proposal %>
	<% if @group or proposal.proposal_id %>
		<%= render "user_action", proposal: proposal %>
	<% elsif @federation %>
		<%= render "federated_user_action", proposal: proposal %>
	<% end %>
	
	<%= render "content", proposal: proposal %>

	<div id="post_buttons">
		<div class="btn-group">
			<%= render "proposals/vote", proposal: proposal %>
			<%= render "proposals/comment", proposal: proposal %>
		</div>
	</div>
</div>