<% @proposal.comments.each do |comment| %>
<div id="card">
	<table align="center">
		<tr>
			<td><%= link_to profile_picture(comment.commenter, "25x25"), user_path(comment.commenter) %></td>
			<td><%= link_to comment.commenter.name, user_path(comment.commenter) %>
				<%= comment.text %></td>
		</tr>
	</table>
	<!-- controls for comment -->
	<table align="center">
		<tr>	
			<% if current_user and current_user.id == comment.commenter_id %>
			<td>
				<%= link_to(group_proposal_comment_path(params[:id], @proposal, comment),
					method: :delete, data: { confirm: 'Are you sure?' }, class: :button_link) do %>
					<div class="button_div">Delete</div>
				<% end %>
			</td>
			<% elsif current_user %>
				<td>
					<%= link_to(up_vote_comment_path(comment), class: :button_link) do %>
						<div class="button_div">Up</div>
					<% end %>
				</td>
				<td>
					<%= link_to(down_vote_comment_path(comment), class: :button_link) do %>
						<div class="button_div">Down</div>
					<% end %>
				</td>
			<% end %>
		</tr>
	</table>
</div><br>
<% end %>