<!-- proposals -->

<%= render "federations/name_heading", item: "Proposals" %>

<% if current_user and @proposals.present? %>
<div id="large_button">
	<%= button_to "Create a proposal", federation_proposal_menu_path(@federation),
		method: :get, class: "btn btn-default btn-lg btn-block" %><br>
</div>
<% end %>

<% @proposals.each do |proposal| %>
	<div id="card">
		<%= render "federated_user_action", proposal: proposal %>
		
		<%= render "content", proposal: proposal %>
		
		<div align="center">
			<div class="btn-group">
				<%= render "proposals/vote", proposal: proposal %>
				<%= render "proposals/comment", proposal: proposal %>
			</div>
		</div>
	</div>
<% end %>

<% if @proposals.empty? %>
	<div id="card">
		<div align="center">
			<%= link_to @federation.name, federation_path(@federation) %> doesn't have any proposals yet.
			To create one, click <%= link_to "here", federation_proposal_menu_path(@federation) %>.
		</div>
	</div>
<% end %>