<!-- proposals -->

<%= render "groups/name_heading", item: "Proposals" %>

<% if current_user and @proposals.present? and @group.membership(current_user) %>
<div id="large_button">
	<%= link_to "Change the group", proposal_menu_path(@group), class: "btn btn-default btn-lg btn-block" %>
</div>
<% end %>

<% @proposals.each do |proposal| %>
	<% if proposal.federated_group_id.nil? or Group.find_by_id(proposal.federated_group_id) %>
		<div id="card">
			<%= render "user_action", proposal: proposal %>
		
			<%= render "content", proposal: proposal %>
		
			<div align="center">
				<div class="btn-group">
					<%= render "proposals/vote", proposal: proposal %>
					<%= render "proposals/comment", proposal: proposal %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>

<% if @proposals.empty? %>
	<div id="card">
		<div align="center">
			<%= link_to @group.name, group_path(@group) %> doesn't have any proposals yet.
			To create one, click <%= link_to "here", proposal_menu_path(@group) %>.
		</div>
	</div>
<% end %>

</br>