<% name = @group.name if @group %>
<% other_group = Group.find(proposal.federated_group_id) if proposal.federated_group_id %>

<div align="center" id="proposal_action_text">
	<% if proposal.anonymous %>
		Anonymous
	<% elsif other_group and proposal.action == "federate" %>
		<%= link_to other_group.name, group_path(other_group) %>
	<% else %>
		<%= link_to User.find(proposal.user_id).name, user_path(proposal.user_id) if proposal.user_id %>
	<% end %>

	<% case proposal.action %>
		<% when "name_change" %>
			proposed that <%= link_to name, group_path(@group) %>
			should change its name to "<%= proposal.item_name %>"
		<% when "description_change" %>
			proposed that <%= link_to name, group_path(@group) %>
			should change its description to "<%= proposal.description %>"
		<% when "add_module" %>
			proposed to add a module to <%= link_to name, group_path(@group) %>
		<% when "icon_change" %>
			proposed that <%= link_to name, group_path(@group) %> should change its icon
		<% when "private_group" %>
			proposed that <%= link_to name, group_path(@group) %> should be private
		<% when "public_group" %>
			proposed that <%= link_to name, group_path(@group) %> should be public
		<% when "request_to_join" %>
			requested to join <%= link_to name, group_path(@group) %>
		<% when "federate_request" %>
			proposed a federation between <%= link_to name, group_path(@group) %>
			and <%= link_to other_group.name, group_path(other_group) %>
		<% when "req_to_join_federation", "join_federation" %>
			proposed that <%= link_to name, group_path(@group) %> should join 
			<%= link_to Federation.find(proposal.federated_federation_id).name,
				federation_path(proposal.federated_federation_id) %>
		<% when "federate" %>
			proposed a federation with <%= link_to name, group_path(@group) %>
		<% when "disband" %>
			proposed that <%= link_to name, group_path(@group) %> should disband
		
		
		<!-- proposals to change proposals -->
		
		<% when "proposal_name_change" %>
			proposed that the name be changed to "<%= proposal.item_name %>" instead
		<% when "proposal_icon_change" %>
			proposed a different icon
		<% when "proposal_description_change" %>
			proposed a different description
		<% when "proposal_module_code_change" %>
			proposed a different source
		<% when "proposal_module_name_change" %>
			proposed different name for the module: "<%= proposal.item_name %>"
		<% when "proposal_module_description_change" %>
			proposed a different description
		<% when "proposal_req_to_join_dif_federation" %>
			proposed the group request to join a different federation
		<% when "proposal_federate_w_dif_group" %>
			proposed the group federate with a different group
		<% when "proposal_dif_federation_name" %>
			proposed different name for the federation: "<%= proposal.item_name %>"
		<% when "proposal_dif_federation_description" %>
			proposed a different description
		<% when "proposal_dif_federation_icon" %>
			proposed a different icon
	<% end %>
</div>