<% name = @group.name.capitalize %>

<p align="center">
	<% if proposal.user_id %>
		<%= link_to User.find(proposal.user_id).name.capitalize, user_path(proposal.user_id) %>
	<% else %>
		Anonymous
	<% end %>

	<% case proposal.action %>
		<% when "name_change" %>
			proposes that <%= link_to name, group_path(@group) %> should change its name to "<%= proposal.submission.capitalize %>"
		<% when "description_change" %>
			proposes that <%= link_to name, group_path(@group) %> should change its description to "<%= proposal.submission %>"
		<% when "icon_change" %>
			proposes that <%= link_to name, group_path(@group) %> should change its icon
		<% when "private_group" %>
			proposes that <%= link_to name, group_path(@group) %> should be private
		<% when "public_group" %>
			proposes that <%= link_to name, group_path(@group) %> should be public
		<% when "request_to_join" %>
			requested to join <%= link_to name, group_path(@group) %>
	<% end %>
</p>