<!-- proposals -->

<% if current_user %>
<div id="large_button">
	<%= button_to "Create a proposal", proposal_menu_path(@group),
		method: :get, class: "btn btn-default btn-lg btn-block" %><br>
</div>
<% end %>

<% @proposals.each do |proposal| %>
	<div id="card">
		<%= render "user_action", proposal: proposal %>
		
		<%= render "content", proposal: proposal %>
		
		<div align="center">
			<div class="btn-group">
				<%= render "proposals/vote", proposal: proposal %>
				<%= render "proposals/comment", proposal: proposal %>
			</div>
		</div>
	</div>
	<br>
<% end %>

<% if @proposals.empty? %>
	<div id="card">
		<div align="center">
			<%= link_to @group.name, group_path(@group) %> doesn't have any proposals yet.
			To create one, click <%= link_to "here", proposal_menu_path(@group) %>.
		</div>
	</div>
<% end %>