<div id="card">
	<% if current_user %>
		<% if @group %>
			<%= form_tag new_group_proposal_path(@group), method: :get do %>
				<%= hidden_field_tag :group_id, params[:group_id] %>
				<p>Choose a proposal type</p>
				<p>
					<%= select_tag :proposal_type,
						options_for_select([["Proposal type", nil], ["Description change", "description_change"],
						["Add a module", "add_module"], ["Name change", "name_change"],
						["Icon change", "icon_change"], ["Federate", "federate_request"],
						["Disband", "disband"]]), class: "form-control" %>
				</p>
				<p>
					<%= submit_tag "Next", class: "btn btn-default btn-lg btn-block" %>
				</p>
			<% end %>
		<% elsif @federation %>
			<%= form_tag new_federation_proposal_path(@federation), method: :get do %>
				<%= hidden_field_tag :federation_id, params[:federation_id] %>
				<p>Choose a proposal type</p>
				<p>
					<%= select_tag :proposal_type,
						options_for_select([["Proposal type", nil], ["Description change", "description_change"],
						["Add a module", "add_module"], ["Name change", "name_change"], ["Icon change", "icon_change"],
						["Disband", "disband"]]), class: "form-control" %>
				</p>
				<p>
					<%= submit_tag "Next", class: "btn btn-default btn-lg btn-block" %>
				</p>
			<% end %>
		<% end %>
	<% else %>
		<div align="center">
			<%= link_to "Log in", root_url %> or
			<%= link_to "sign up", new_user_path %> to create a proposal.
		</div>
	<% end %>
</div>