<div id="card">
<%= form_for @proposal, :html => {:multipart => true, "data-ajax" => false} do |f| %>
	<%= hidden_field_tag :group_id, params[:group_id] %>
	<%= hidden_field_tag :user_id, current_user.id %>
	
	<% case session[:proposal_type] %>
		<% when "description_change" %>
			<p>
				<%= f.text_area :submission, placeholder: "Enter new description here" %>
			</p>
			
		<% when "add_module" %>
			<p>
				<%= f.text_field :module_name, placeholder: "Enter module name here" %>
			</p>
			<p>
				<%= f.label "Choose an icon for the module" %>
				<%= f.file_field :icon %>
			<p>
				<%= f.text_area :submission, placeholder: "Paste the link or HTML here" %>
			</p>
			
		<% when "private_group" %>
			<p align="center">Make the group private</p>
			
		<% when "public_group" %>
			<p align="center">Make the group public</p>
			
		<% when "name_change" %>
			<p>
				<%= f.text_area :submission, placeholder: "Enter new name here" %>
			</p>
			
		<% when "icon_change" %>
			<p>
				<%= f.label "Choose a new icon image" %>
				<%= f.file_field :icon %>
			</p>
	<% end %>
	
	<p>
		<%= f.text_area :description, placeholder: "Explain why (optional)" %>
	</p>

	<p>
		<%= f.label :anonymous %>
		<%= f.check_box :anonymous %>
	</p>
	
	<p>
		<%= f.submit "Create proposal" %>
	</p>
<% end %>
</div>