<%= form_for @proposal, :html => {:multipart => true, "data-ajax" => false} do |f| %>
	<%= hidden_field_tag :group_id, params[:group_id] %>
	<p>
		<%= f.label "Choose a proposal type"%>
		<%= f.select :action,
			options_for_select([["Name change", "name_change"], ["Icon change", "icon_change"],
			["Description change", "description_change"], ["Ban member", "ban_member"]]) %>
	</p>
	<p>
		<%= f.text_field :title, placeholder: "Add a title" %>
	</p>
	<p>
		<%= f.text_area :description, placeholder: "Add a description" %>
	</p>
	<p>
		<%= f.label "Add an image" %>
		<%= f.file_field :icon %>
	</p>
	<p>
		<%= f.submit "Create proposal" %>
	</p>
<% end %>