<!-- proposals -->

<div id="card">
<%= form_for @proposal, :html => {:multipart => true, "data-ajax" => false} do |f| %>
	<%= hidden_field_tag :group_id, params[:group_id] %>
	<%= hidden_field_tag :user_id, current_user.id %>
	
	<% case session[:proposal_type] %>
		<% when "description_change" %>
			<p>
				<%= f.text_area :submission, placeholder: "Enter new description here", class: "form-control" %>
			</p>
			
		<% when "add_module" %>
			<p>
				<%= f.label "Choose an icon for the module" %>
				<%= f.file_field :icon, class: "form-control" %>
			</p>
			<p>
				<%= f.text_field :module_name, placeholder: "Enter module name here", class: "form-control" %>
			</p>
			<p>
				<%= f.text_area :submission, placeholder: "Paste the link or HTML here", class: "form-control" %>
			</p>
		
		<% when "federate_request" %>
			<p align="center">Create a federation of groups</p>
			<p>
				<%= f.text_field :item_name, placeholder: "Name", class: "form-control" %>
			</p>
			<p>
				The group you want to federate with
				<%= f.select :federated_group_id, options_from_collection_for_select(@groups,
					:id, :name), {}, class: "form-control" %>
			</p>
			<p>
				Upload an icon for the federation
				<%= f.file_field :icon, class: "form-control" %>
			</p>
			<p>
				<%= f.text_field :submission, placeholder: "Description", class: "form-control" %>
			</p>
			
		<% when "private_group" %>
			<p align="center">Make the group private</p>
			
		<% when "public_group" %>
			<p align="center">Make the group public</p>
			
		<% when "name_change" %>
			<p>
				<%= f.text_area :submission, placeholder: "Enter new name here", class: "form-control" %>
			</p>
			
		<% when "icon_change" %>
			<p>
				<%= f.label "Choose a new icon image" %>
				<%= f.file_field :icon, class: "form-control" %>
			</p>
	<% end %>
	
	<p>
		<%= f.text_area :why, placeholder: "Why (optional)", class: "form-control" %>
	</p>

	<p class="form-control">
		<%= f.label :anonymous %>
		<%= f.check_box :anonymous %>
	</p>
	
	<p>
		<%= f.submit "Create proposal", class: "btn btn-default btn-lg btn-block" %>
	</p>
<% end %>
</div>