<!-- proposals -->

<div id="card">
	<%= render "user_action", proposal: @proposal %>
	
	<%= render "content", proposal: @proposal %>
	
	
	
	<% if @group.membership(current_user) and current_user.id != @proposal.user_id %>
		<div align="center">
			<div class="btn-group">
				<%= render "vote", proposal: @proposal %>
			</div>
		</div>
	<% end %>
</div>
<br>

<div id="card">
	<%= render "comments/new", item: :proposal %>
</div></br>

<%= render "comments" %>

</br>