<div id="card">
	<%= render "user_action", proposal: @proposal %>
	
	<%= render "content", proposal: @proposal %>
	
	<table align="center">
		<tr>
			<%= render "vote", proposal: @proposal %>
		</tr>
	</table>
	
	<%= render "comments/new", item: :proposal %>
</div>
<br>

<%= render "comments" %>