<div id="card">
	<%= render "content", proposal: @proposal %>
	
	<table align="center">
		<tr>
			<%= render "vote", proposal: @proposal %>
			<td>
				<%= link_to(group_proposal_path(@group, @proposal), class: :button_link,
					method: :delete, data: { confirm: 'Are you sure?' }) do %>
					<div class="button_div">Delete</div>
				<% end %>
			</td>
		</tr>
	</table>
	
	<%= render "comments/new", item: :proposal %>
</div>
<br>

<%= render "comments" %>