<div id="card">
	<table align="center">
		<% if @proposal.title %>
			<tr>
				<td>
					<h2><%= @proposal.title %></h2>
				</td>
			</tr>
		<% end %>
		<tr>
			<td>
				<p><%= @proposal.description %></p>
			</td>
		</tr>
	</table>
	
	<% if @proposal.icon? %>
		<div align="center">
			<%= image_tag(@proposal.icon, width: "90%") %>
		</div>
	<% end %>
	
	<table align="center">
		<tr>
			<%= render "vote", proposal: @proposal %>
			<td>
				<%= button_to "Delete", group_proposal_path(@group, @proposal), method: :delete,
					"data-mini" => true, "data-icon" => "delete",
					data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
	</table>
</div>
<br>