<!-- proposals -->

<% if current_user and not @proposal.inactive %>
<div id="large_button">
	<%= button_to "Change the proposal", root_url,
		method: :get, class: "btn btn-default btn-lg btn-block" %><br>
</div>
<% end %>

<div id="card">
	<% if @group %>
		<%= render "user_action", proposal: @proposal %>
	<% elsif @federation %>
		<%= render "federated_user_action", proposal: @proposal %>
	<% end %>
	
	<%= render "content", proposal: @proposal %>
	
	<% if (@federation or @group.membership(current_user)) and \
		current_user.id != @proposal.user_id and !@proposal.inactive %>
		<div align="center">
			<div class="btn-group">
				<%= render "vote", proposal: @proposal %>
			</div>
		</div>
	<% end %>
</div>

<%= render "comments" %>

<%= render "comments/new", item: :proposal %>

</br>