<!-- proposals -->

<% if current_user and not @proposal.ratified %>
<div id="large_button">
	<%= link_to "Change the proposal", change_proposal_menu_path(@proposal), class: "btn btn-default btn-lg btn-block" %>
</div>
<% end %>

<%= render "proposals/card", proposal: @proposal %>

<% for proposal in @proposal.proposals %>
	<%= render "proposals/card", proposal: proposal %>
<% end %>

<%= render "proposals/comments" %>

<%= render "comments/new", item: :proposal %>

</br>