<!-- posts -->

<h1><%= @user.name %></h1>

<table>
	<tr>
		<td><h2><%= @post.text %></h2></td>
		<td><%= @post.likes %></td>
		<td><%= link_to "Like", like_path(params[:user_id], @post) %></td>
		<% if current_user and current_user == @user %>
			<td><%= link_to 'Destroy', user_post_path(params[:id], @post),
				method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	</tr>
</table>

<%= render "comments/new" if current_user %>

<table>
	<% @post.comments.each do |comment| %>
	<tr>
		<td><%= link_to comment.commenter.name + ":", user_path(comment.commenter) %></td>
		<td><%= comment.text %></td>
		<td><%= comment.likes %></td>
		<td><%= link_to "Like", like_comment_path(params[:user_id], @post, comment) %></td>
		<% if current_user %>
			<td><%= link_to 'Destroy', user_post_comment_path(params[:id], @post, comment),
				method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	</tr>
	<% end %>
</table>
