<% _post = post # to link to new copy of original post %>
<!-- to pull content from the original post -->
<% post = Post.find(post.original) if post.original %>
		
<div align="center">
	<% if _post.image_url or post.image_url %>
		<div id="post_image">
			<%= link_to(image_tag(post.image_url, width: "90%"),
				show_post_path(_post.user, _post)) %>
		</div>
	<% end %>
	
	<% if post.text.present? or post.hashtags.present? %>
		<p id="post_text">
			<% for word in post.text.split(' ') %>
				<% if word =~ /\A#{URI::regexp}\z/ and word.include? "youtube" and !word.include? "user" %>
					<% word = word.slice 0...word.index("&") if word.include? "&" %>
					<% word.sub! "watch?v=", "embed/" if word.include? "watch?v=" %>
					<iframe width="90%" height="315" src="<%= word %>" frameborder="0" allowfullscreen>
					</iframe></br>
				<% elsif word =~ /\A#{URI::regexp}\z/ %>
					<%= link_to word + " ", word %>
				<% else %>
					<%= word + " " %>
				<% end %>
			<% end %>
			
			<% post.hashtags.each do |tag| %>
				<%= link_to tag.tag, tagged_path(tag.tag) %>
			<% end %>
		</p>
	<% end %>
</div>