<!-- posts -->

<div id="card">
	<table align="center">
		<tr>
			<td><%= link_to profile_picture(@user, "25x25"), user_path(@user) %></td>
			<td>
				<%= link_to @user.name.capitalize, user_path(@user) %>
				<%= render "user_action", post: @post %>
			</td>
		</tr>
	</table>
		
	<%= render "posts/content", post: @post %>
	
	<table align="center">
		<tr>
			<%= render "posts/vote", post: @post %>
			<td>
				<%= render "posts/share", post: @post %>
			</td>
			<% if current_user and current_user == @user %>
			<td>
				<%= link_to(user_post_path(params[:id], @post), class: :button_link,
					method: :delete, data: { confirm: 'Are you sure?' }) do %>
					<div class="button_div">Delete</div>
				<% end %>
			</td>
			<% end %>
		</tr>
	</table>

<%= render "comments/new", item: :post %>
</div></br>

<%= render "comments/post_comments" %>
