<!-- posts -->

<% if @post %>
	<div id="card">
		<table align="center">
			<tr>
				<td><%= profile_picture(@user, "25x25") %></td>
				<td>
					<%= link_to @user.name, user_path(@user) %>
					<%= render "user_action", post: @post %>
				</td>
			</tr>
		</table>
		
		<%= render "content", post: @post %>
	
		<div align="center">
			<div class="btn-group">
				<%= render "vote", post: @post %>
				<%= render "share", post: @post %>
				<% if current_user and current_user == @user %>
					<%= link_to user_post_path(params[:id], @post), class: "btn btn-default",
						method: :delete, data: { confirm: 'Are you sure?' } do %>
						<span class="glyphicon glyphicon-trash"></span>
					<% end %>
				<% end %>
			</div>
		</div></br>
	</div></br>

	<%= render "comments/new", item: :post %>

	<%= render "comments/comments" %>
	</br>
<% else %>
	<div id="card">
		<div align="center">This post no longer exists.</div>
	</div>
<% end %>