<!-- posts -->

<div id="card">
	<table align="center">
		<tr>
			<td><%= link_to profile_picture(@user, "50x50"), user_path(@user) %></td>
			<td>
				<%= link_to @user.name.capitalize, user_path(@user) %>
				<%= render "user_action", post: @post %>
			</td>
		</tr>
	</table>
		
	<%= render "posts/content", post: @post %>
	
	<table align="center">
		<tr>
			<%= render "posts/vote", post: @post %>
			<td>
				<%= render "posts/share", post: @post %>
			</td>
			<% if current_user and current_user == @user %>
			<td>
				<%= button_to 'Destroy', user_post_path(params[:id], @post), method: :delete,
					"data-mini" => true, "data-icon" => "delete",
					data: { confirm: 'Are you sure?' } %>
			</td>
			<% end %>
		</tr>
	</table>
</div></br>

<div id="card"><%= render "comments/new" %></div></br>

<% @post.comments.each do |comment| %>
<div id="card">
	<table align="center">
		<tr>
			<td><%= link_to profile_picture(comment.commenter, "25x25"), user_path(comment.commenter) %></td>
			<td><%= link_to comment.commenter.name.capitalize,
				user_path(comment.commenter) %> commented:</td>
		</tr>
	</table>
	<p align="center"><%= comment.text %></p>
	<!-- controls for comment -->
	<table align="center">
		<tr>	
			<% if current_user and current_user.id == comment.commenter_id %>
			<td>
				<%= button_to 'Destroy', user_post_comment_path(params[:id], @post, comment),
					method: :delete, data: { confirm: 'Are you sure?' },
					"data-icon" => "delete", "data-mini" => true %>
			</td>
			<% elsif current_user %>
				<td>
					<%= button_to "", up_vote_comment_path(comment),
						"data-icon" => "arrow-u", "data-iconpos" => "notext",
						:method => "get", "data-mini" => true %>
				</td>
				<td>
					<%= button_to "", down_vote_comment_path(comment),
						"data-icon" => "arrow-d", "data-iconpos" => "notext",
						:method => "get", "data-mini" => true %>
				</td>
			<% end %>
		</tr>
	</table>
</div><br>
<% end %>
