<!-- posts -->

<div id="card">
	<table align="center">
		<tr>
			<td><%= profile_picture(@user, "25x25") %></td>
			<td>
				<%= link_to @user.name, user_path(@user) %>
				<%= render "user_action", post: @post %>
			</td>
		</tr>
	</table>
		
	<%= render "content", post: @post %>
	
	<table align="center">
		<tr>
			<%= render "vote", post: @post %>
			<%= render "share", post: @post %>
			<% if current_user and current_user == @user %>
			<td>
				<%= link_to(user_post_path(params[:id], @post), class: :button_link,
					method: :delete, data: { confirm: 'Are you sure?' }) do %>
					<div class="button_div">Delete</div>
				<% end %>
			</td>
			<% end %>
		</tr>
	</table></br>

<%= render "comments/new", item: :post %>
</div></br>

<%= render "comments" %>
