<!DOCTYPE html>
<html>
<head>
	<title>Kopimia</title>
	<%= favicon_link_tag "favicon.ico" %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="page">
		<div id="header-nav">
			<%= render "layouts/nav" %>
		</div>

		<div id="page-content">
			<% flash.each do |name, message| %>
				<div id="card"><p align="center"><%= message %></p></div></br>
			<% end %>

			<%= yield %>
		</div>
	</div>
</body>
</html>
